body {
  overflow: hidden;
}

#wholepage-wrapper {
    padding: 0 15px;
    background-color: #fff;
    overflow: auto;
    max-height: calc(100vh - #{$navbar-height});
}

#side-menu {
  overflow: auto;
  max-height: calc(100vh - #{2*$navbar-height});
  width: 100%;
}

@media(min-width:768px) {
  #side-menu {
    width: $sidebar-width;
    max-height: calc(100vh - #{$navbar-height});
  }
}

#page-wrapper {
  overflow: auto;
  position:fixed;
  width:auto;
  top: 2 * $navbar-height;
  bottom:0;
  right: 0;
  left: 0;
}

@media(min-width:768px) {
  #page-wrapper {
    top: $navbar-height;
  }
}

.overflow-ellipsis {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nav > li > a.item.active {
  background-color: #e4e4e4;
}

.nav > li > a:hover .action {
  display: block;
}

.action {
  display: none;
}

.divider {
  border: 0;
  height: 1px;
  background: #ddd;
  text-align: center;
  color: #737373;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Playball', cursive;
  font-size: 1.8em;
}

.divider span {
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  top: -0.7em;
}